<!-- Google AdSense Unit -->
<div class="my-4 text-center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8732458645979427"
     crossorigin="anonymous"></script>
<!-- Health Hub R -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8732458645979427"
     data-ad-slot="3568348561"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>