<div style="margin: 2.5rem auto; text-align: center;">
    
    <!-- মেইন স্ক্রিপ্ট (Engine) -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8732458645979427"
         crossorigin="anonymous"></script>
    
    <!-- ডিসপ্লে কোড (Screen) -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8732458645979427"
         data-ad-slot="3568348561"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    
    <!-- অ্যাক্টিভেশন কোড (Switch) -->
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
</div>