</main>
    <footer class="main-footer">
	<div class="footer-links">
            <a href="https://www.calculatorfree.in/about-us/" target="_blank">About Us</a>
            <a href="https://www.calculatorfree.in/contact-us/" target="_blank">Contact Us</a>
            <a href="https://www.calculatorfree.in/disclaimer/" target="_blank">Disclaimer</a>
            <a href="https://www.calculatorfree.in/dmca-policy/" target="_blank">DMCA Policy</a>
            <a href="https://www.calculatorfree.in/privacy-policy/" target="_blank">Privacy Policy</a>
            <a href="https://www.calculatorfree.in/terms-conditions/" target="_blank">Terms & Conditions</a>
        </div>
        <p>&copy; <%= new Date().getFullYear() %> calculatorfree.in All Rights Reserved.</p>
    </footer>
</body>
</html>